:root{
    /* variables */
    --mainColor:#eaeaea;
    --secondaryColor:#ffff;

    --borderColor:#c1c1c1;

    --mainText:black;
    --secondaryText:#4b5156;
}


html, body{
    padding: 0;
    margin: 0;

}

h1, h2, h3, h4, h5, h6, strong{
    color:var(--mainText); /* uses mainText var as color */
    font-family: 'Oleo Script Swash Caps', cursive;
}

p, li, span, label, input, textarea{
    color:var(--mainText);
    font-family: 'Roboto Mono', monospace;
}

a{
    text-decoration: none;
    color: #17a2b8;
}

ul{
    list-style: none;
}


/* sets all h1 -> h6 tags to a fixed font size */
h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}



.s1{
    background-color: var(--mainColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;

}

.greeting-wrapper{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 10em;


}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border:1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    

    -webkit-box-shadow: 25px 16px 40px 5px rgba(0,0,0,0.76); 
    box-shadow: 25px 16px 40px 5px rgba(0,0,0,0.76);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;

}


#navigation{
    margin: 0;
    padding: 10px;

}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

/* test */

.dots-wrapper{
    display: flex;
    padding: 10px;
}

#dot-1{
    background-color: #FC6058;
}

#dot-2{
    background-color: #FEC02F;
}

#dot-3{
    background-color: #2ACA3E;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

}

    

.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;  
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}

.left-column{
    grid-area: left-column;
}

.right-column{
    grid-area: right-column;
}

/* responsive functionality for mobile */
@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}



